.FilmPage {}

.filmPage__content{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.filmPage__img{
    width: 30%;
    min-width: 400px;
}
.filmPage__img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filmPage__info{
    /* width: 50%; */
    text-align: left;
}

.filmPage__content{
    display: flex;
    gap: 30px;
}

.filmPage__content_table{
    width: 100%;
    /* max-width: 600px; */
}

.filmPage__content_row{
    display: flex;
    gap: 20px;
}
.filmPage__content_left{
    width: 200px;
}
/* .filmPage__content_right{
    width: max-content;
} */

.filmPage__kinopoisk{
    display: block;
    margin-bottom: 48px;
    margin-top: 24px;
    width: max-content;
}

.filmPage__kinopoisk:hover{
    color: orange;
}

.filmPage__descr{
    margin-bottom: 30px;
}

.backLink{
    display: block;
    margin-bottom: 30px;
    outline: 1px white solid;
    padding: 10px;
    border-radius: 25px;
    width: max-content;
    transition: 0.5s;
}

.backLink:hover{
    background-color: #000000eb;
}

.film__price{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.film__oscar{
    display: block;
    width: 50px;
    cursor: pointer;
    transition: filter 1s ease;
}

.film__nuar{
    filter: grayscale(100%) blur(0);
}

.film__blur {
    filter: grayscale(0) blur(20px);
    transition: 1.5s ease;
    animation: pulse 2s infinite ease-in-out;
}
.film__blur:hover{
    box-shadow: 0 0 15px 5px rgba(249, 218, 106, 0.416);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.commercial{
    text-align: center;
    margin-top: 20px;
}
.commercial a:hover{
    color: red;
}

@media screen and (max-width: 768px) {
    .filmPage__content{
        flex-wrap: wrap;
    }
    .filmPage__img{
        width: 100%;
        min-width: unset;
    }

    .filmPage__info{
        width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    .backLink{
        outline: 1px #213547 solid;
    }
}