.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.form {
    min-width: 400px;
    margin-bottom: 30px;
}

.input{
    height: 30px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
}

.button{
    display: block;
    outline: 1px white solid;
    border-radius: 25px;
    width: max-content;
    transition: 0.5s;
}

.button:hover{
    background-color: #000000eb;
}

.logo{
    width: 70px;
    margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
    .form {
        min-width: unset;
        width: 100%;
    }
}