.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.form {
    min-width: 400px;
}

.input{
    height: 30px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
}

.button{
    display: block;
    outline: 1px white solid;
    border-radius: 25px;
    width: max-content;
    transition: 0.5s;
    background-color: #1a1a1a;
}

.button:hover{
    background-color: #000000eb;
}

.logo{
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 900px) {
    .form {
        min-width: unset;
        width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    .button {
      background-color: #f9f9f9;
      outline: 1px #1a1a1a solid;
    }
    .button:hover{
      color: #f9f9f9;
      /* outline: 1px #1a1a1a solid; */
    }
  }